@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* les reglages generales de la page web*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* les reglages pour body*/
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
}

.button_add{
    width: fit-content;
    margin-bottom: 20px;
    background-color: #2bc48a;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    align-items: center;
    text-align: 0;
    border-radius: 6px;
}

.button_add img{
    margin-right: 5px;
    height: 20px;
}

/* les reglages pour le tableau*/
table{
    border-collapse: collapse;
    color: #404040;
}
th{
    font-size: 16px;
    border-bottom: 3px solid #ffcb61;
    padding: 5px 20px;
    font-weight: 500;
}
td{
    font-weight: 400;
    padding: 5px 30px;
}
img{
    height: 25px;
}
tr:nth-child(2n){
    background-color: #f6f8f8;
}

tr:nth-child(2n) td{
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

/* les reglages du formulaire d'ajout des employes */
.form{
    background-color: #f6f8f8;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 6px;
}
.form form{
    display: flex;
    width: 350px;
    flex-direction: column;
}
.back_button{
    color: #2bc48a;
    text-decoration: 0;
    display: flex;
    align-items: center;
}
.back_button img{
    height: 16px;
    margin-right: 5px;
}
h2{
    margin: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
}
.message_error{
    color: red;
}
label{
    margin-top: 5px;
    text-transform: uppercase;
}
input{
    padding: 5px;
    border: 1px solid #999;
    outline: 0;
    margin-top: 2px;
}
input:focus{
    border: 1px solid #ffcb61;
}
input[type="submit"]{
    margin-top: 25px;
    background-color: #2bc48a;
    border: 1px solid #2bc48a;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
}
